@font-face {
  font-family: NorseBold;
  src: url(./font/Norse-Bold.otf);
}

* {
  padding: 0;
  margin: 0;
}

body {
  display: grid;
  grid-template-columns: 1fr 2fr;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

aside {
  font-family: NorseBold;
  background: center / cover no-repeat url(./images/leaf.avif);
  color: white;
}

aside div {
  margin-top: 20vh;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

aside h1 {
  font-size: 100px;
}

aside img {
  height: 150px;
}

main {
  display: grid;
  height: 100%;
  width: 100%;
  row-gap: 50px;
  align-content: center;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

main > p {
  margin: 0 50px;
  font-weight: bold;
  font-size: 1.2rem;
  max-width: 800px;
}

form {
  display: grid;
  place-items: center;
  row-gap: 20px;
  justify-items: start;
}

form label {
  display: grid;
}

form label input {
  width: clamp(150px, 75%, 300px);
  height: 25px;
  border-radius: 5px;
  border: 1px solid #E5E7EB;
}

form input:focus:invalid {
  border: 1px solid red;
}

form > div {
  padding: 20px 50px;
  width: 100%;
  box-shadow: 0 2px 7px rgba(34, 33, 33, 0.20);
  border-radius: 5px;
}

form > div > div {
  display: grid;
  justify-content: start;
  grid-template-columns: repeat(2, minmax(300px, 400px));
  row-gap: 10px;
}

form div h2 {
  margin-bottom: 15px;
  grid-column: 1/-1;
}

form div ~ * {
  margin: 0 50px;
}

form button { 
  color: white;
  background-color: #596D48;
  border: none;
  border-radius: 5px;
  padding: 10px 40px;
  font-weight: bold;
  font-size: 17px;
}

form a {
  text-decoration: none;
  color: #596D48;
  font-weight: bold;
}

@media screen and (max-width: 1000px) {
  form > div > div {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 750px) {
  body {
    grid-template-columns: 1fr;
  }

  aside div { 
    margin: 0;
    height: 90%;
  }
}

